@using MvcArtStone.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{  @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text" id="cardform">
                        <form class="register">
                            <span class="card-title" id="accounttitle">
                                Login
                            </span>
                            <div class="row">
                                <div class="s12">
                                    <div class="input-field">
                                        <i class="material-icons prefix">email</i>
                                        <input id="email" type="email" class="validate">
                                        <label for="Email">Email</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="s12">
                                    <div class="input-field">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="password" type="password" class="validate">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="s12">
                                    <input type="checkbox" class="filled-in" id="filled-in-box"/>
                                    <label for="filled-in-box">Remember me</label>
                                </div>
                            </div>
                            <div class="card-action">
                                <input type="submit" value="Log in" class="btn btn-default"/> <br/>
                                @Html.ActionLink("Register as a new user", "Register") <br/>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





        @*<h2>@ViewBag.Title.</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <section id="loginForm">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                                    @Html.AntiForgeryToken()
                                    <h4>Use a local account to log in.</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Log in" class="btn btn-default" />
                                        </div>
                                    </div>
                                    <p>
                                        @Html.ActionLink("Register as a new user", "Register")
                                    </p>
                                    @* Enable this once you have account confirmation enabled for password reset functionality
                                        <p>
                                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                        </p>
                                }
                            </section>
                        </div>
                        <div class="col-md-4">
                            <section id="socialLoginForm">
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                            </section>
                        </div>
                    </div>*@

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
