@model MvcArtStone.Models.Artwork
@{
    string key = Request.Url.OriginalString.Split('/').Last();
    ViewBag.Title = key;
    //Guid idiotid = Guid.Parse(Request.Url.OriginalString.Split('/').Last());

    //Guid id = Guid.Parse(idiotid.Split('/').Last());
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div ng-app="artstoneApp" ng-controller="editController">
    <p ng-model="artwork.Title">@Model.Title</p>


</div>*@


<div class="container" >
    <div class="row">
        <div class="card">
            <div class="card-content" ng-app="artstoneApp" ng-controller="editController" ng-submit="EditArtwork(newArtwork)">
                <form novalidate id="editArtwork">
                    <h1>@Model.Title</h1>

                    <label class="active" for="editTitle">Title: @Model.Title</label>
                    <input  ng-model="newArtwork.Title" id="editTitle" type="text" /> <br />

                    <label class="active" for="editArtist">Artist: @Model.Artist</label>
                    <input ng-model="newArtwork.Artist" id="editArtist" type="text" /> <br />

                    <label class="active" for="editRoom">Room: @Model.Room</label>
                    <input ng-model="newArtwork.Room" id="editRoom" type="text" /> <br />

                    <label class="active" for="editDescription">Description: @Model.Description</label>
                    <input ng-model="newArtwork.Description" id="editDescription" type="text"  /> <br />

                    <label for="DateAdded" class="active">Added</label>
                    <p id="DateAdded">@Model.AddedDate</p> <br />

                    <label for="LastChanged" class="active">Last Changed</label>
                    <p id="LastChanged">@Model.Timestamp</p> <br />

                    <input type="checkbox" class="filled-in" id="signed" ng-model="newArtwork.Signed"/>
                    <label class="active" for="signed"> Signed </label> <br/>

                    <input type="checkbox" class="filled-in" id="inStorage" ng-model="newArtwork.InStorage"/>
                    <label class="active" for="inStorage"> In Storage</label> <br/><br/>




                    <button class="btn waves-effect waves-light" type="submit">
                        Submit Changes
                        <i class="material-icons right">send</i>
                    </button>

                    <a class="btn waves-effect waves-light" name="action" ng-click="deleteArtwork(newArtwork)">
                        Delete Artwork
                        <i class="material-icons right">delete</i>
                    </a>

                    <a class="btn waves-effect waves-light" style="float:right; background-color:transparent; color:#FB8C00" href="/home/">
                        Cancel
                        <i class="material-icons right">close</i>
                    </a>

                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="~/Scripts/angular/artstoneApp.js"></script>
<script src="~/Scripts/angular/editController.js"></script>